# Python virtual envs
venv/
backend/venv/
*/venv/

# Node dependencies
frontend/node_modules/

# Build
frontend/build/

# System files
.DS_Store

# Env and log files
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
